.header {
  display: flex;
  align-items: center;
  max-height: 700px;
  min-height: 600px;
  height: calc(100vh - 282px);
  justify-content: space-between;
  /*margin-top: 30px;*/
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background-color: var(--primaryClr10);
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  transform: scaleX(2);
  height: 790px;
}
.pod-template {
  /* background-color: #f6f6f7; */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1197%26quot%3b)' fill='none'%3e%3crect width='336' height='336' clip-path='url(%26quot%3b%23SvgjsClipPath1198%26quot%3b)' x='11.1' y='63.56' fill='url(%23SvgjsPattern1199)' transform='rotate(152.96%2c 179.1%2c 231.56)'%3e%3c/rect%3e%3crect width='107' height='107' clip-path='url(%26quot%3b%23SvgjsClipPath1200%26quot%3b)' x='595.6' y='474.09' fill='url(%23SvgjsPattern1201)' transform='rotate(239.81%2c 649.1%2c 527.59)'%3e%3c/rect%3e%3ccircle r='46.666666666666664' cx='1145.11' cy='10.16' stroke='rgba(250%2c 233%2c 229%2c 1)' stroke-width='1.69' stroke-dasharray='4%2c 4'%3e%3c/circle%3e%3cpath d='M111.56 230.9 L133.31 290.15L96.58618165826232 286.37381834173766z' fill='rgba(250%2c 233%2c 229%2c 1)'%3e%3c/path%3e%3crect width='300' height='300' clip-path='url(%26quot%3b%23SvgjsClipPath1202%26quot%3b)' x='1151.21' y='87.44' fill='url(%23SvgjsPattern1203)' transform='rotate(8.68%2c 1301.21%2c 237.44)'%3e%3c/rect%3e%3cpath d='M863.13 395.76 L771.26 474.48L750.2608178643127 368.18581786431275z' stroke='rgba(238%2c 240%2c 255%2c 1)' stroke-width='1.19' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3cpath d='M514.4399999999999 391.12 L551.4799999999999 457.52000000000004L482.15242978009456 475.1275702199054z' stroke='rgba(250%2c 233%2c 229%2c 1)' stroke-width='2.73' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3cpath d='M1410.71 353.51L1407.52 365.91 1394.72 365.52 1391.53 377.92 1378.73 377.54 1375.54 389.94 1362.74 389.55M1405.91 347.11L1402.72 359.51 1389.92 359.13 1386.73 371.53 1373.93 371.14 1370.74 383.54 1357.94 383.15' stroke='rgba(238%2c 240%2c 255%2c 1)' stroke-width='1'%3e%3c/path%3e%3crect width='144' height='144' clip-path='url(%26quot%3b%23SvgjsClipPath1204%26quot%3b)' x='732.74' y='62.81' fill='url(%23SvgjsPattern1205)' transform='rotate(234.65%2c 804.74%2c 134.81)'%3e%3c/rect%3e%3cpath d='M902.15 384.1L903.33 371.35 916.03 369.7 917.21 356.95 929.91 355.3 931.08 342.55 943.78 340.9M907.91 389.65L909.09 376.9 921.79 375.25 922.97 362.5 935.67 360.85 936.85 348.1 949.54 346.45M913.67 395.2L914.85 382.45 927.55 380.8 928.73 368.05 941.43 366.4 942.61 353.65 955.31 352' stroke='rgba(255%2c 245%2c 224%2c 1)' stroke-width='2.83'%3e%3c/path%3e%3cpath d='M429.66 336.47L421.7 346.5 410.17 340.93 402.2 350.96 390.67 345.39 382.71 355.42 371.17 349.85M427.88 328.67L419.91 338.7 408.38 333.13 400.42 343.16 388.88 337.59 380.92 347.62 369.39 342.05M426.09 320.87L418.13 330.9 406.6 325.33 398.63 335.36 387.1 329.79 379.14 339.82 367.6 334.25' stroke='rgba(250%2c 233%2c 229%2c 1)' stroke-width='1' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3cpath d='M1335.24 228.55L1324.21 235.06 1315.44 225.74 1304.41 232.25 1295.64 222.93 1284.61 229.44 1275.83 220.12M1336.36 220.63L1325.34 227.14 1316.56 217.82 1305.54 224.33 1296.76 215.01 1285.73 221.52 1276.96 212.2M1337.49 212.71L1326.46 219.22 1317.69 209.9 1306.66 216.41 1297.88 207.09 1286.86 213.6 1278.08 204.27' stroke='rgba(238%2c 240%2c 255%2c 1)' stroke-width='2.42' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1197'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1199'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(250%2c 233%2c 229%2c 1)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1198'%3e%3ccircle r='84' cx='179.1' cy='231.56'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='107' height='10.7' patternUnits='userSpaceOnUse' id='SvgjsPattern1201'%3e%3crect width='107' height='5.35' x='0' y='0' fill='rgba(250%2c 233%2c 229%2c 1)'%3e%3c/rect%3e%3crect width='107' height='5.35' x='0' y='5.35' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1200'%3e%3ccircle r='26.75' cx='649.1' cy='527.59'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1203'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(250%2c 233%2c 229%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1202'%3e%3ccircle r='75' cx='1301.21' cy='237.44'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='144' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1205'%3e%3crect width='144' height='3' x='0' y='0' fill='rgba(238%2c 240%2c 255%2c 1)'%3e%3c/rect%3e%3crect width='144' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1204'%3e%3ccircle r='36' cx='804.74' cy='134.81'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
  background-position: 0 0, 100% 100%;
  background-repeat: no-repeat;
  /* margin-top: 80px;
  margin-bottom: 100px; */
}
.pod2 {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1292%26quot%3b)' fill='none'%3e%3crect width='132.6' height='132.6' clip-path='url(%26quot%3b%23SvgjsClipPath1293%26quot%3b)' x='387.01' y='331.63' fill='url(%23SvgjsPattern1294)' transform='rotate(63.56%2c 453.31%2c 397.93)'%3e%3c/rect%3e%3crect width='248.4' height='248.4' clip-path='url(%26quot%3b%23SvgjsClipPath1295%26quot%3b)' x='-79.11' y='-35.54' fill='url(%23SvgjsPattern1296)' transform='rotate(285.43%2c 45.09%2c 88.66)'%3e%3c/rect%3e%3crect width='278.8' height='278.8' clip-path='url(%26quot%3b%23SvgjsClipPath1297%26quot%3b)' x='805.36' y='354.77' fill='url(%23SvgjsPattern1298)' transform='rotate(311.76%2c 944.76%2c 494.17)'%3e%3c/rect%3e%3cpath d='M410.84 364.44L419.77 355.27 430.68 361.97 439.62 352.79 450.53 359.49 459.46 350.32 470.38 357.02' stroke='rgba(250%2c 233%2c 229%2c 1)' stroke-width='1' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3crect width='132' height='132' clip-path='url(%26quot%3b%23SvgjsClipPath1299%26quot%3b)' x='395.76' y='288.24' fill='url(%23SvgjsPattern1300)' transform='rotate(23.13%2c 461.76%2c 354.24)'%3e%3c/rect%3e%3crect width='372' height='372' clip-path='url(%26quot%3b%23SvgjsClipPath1301%26quot%3b)' x='921.51' y='-85.03' fill='url(%23SvgjsPattern1302)' transform='rotate(193.77%2c 1107.51%2c 100.97)'%3e%3c/rect%3e%3cpath d='M774.23 533.54 L678.73 545.89L678.7328883446074 491.9678883446073z' stroke='rgba(229%2c 250%2c 245%2c 1)' stroke-width='2.93' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3ccircle r='46.666666666666664' cx='1072.9' cy='230.75' stroke='rgba(250%2c 233%2c 229%2c 1)' stroke-width='2.36' stroke-dasharray='4%2c 4'%3e%3c/circle%3e%3cpath d='M1275.7 178.63L1288.07 181.94 1287.56 194.73 1299.93 198.04 1299.42 210.84 1311.79 214.15 1311.27 226.94M1269.26 183.37L1281.63 186.68 1281.12 199.47 1293.49 202.78 1292.97 215.58 1305.35 218.89 1304.83 231.69M1262.82 188.11L1275.19 191.42 1274.67 204.22 1287.05 207.53 1286.53 220.32 1298.9 223.63 1298.39 236.43' stroke='rgba(250%2c 233%2c 229%2c 1)' stroke-width='1'%3e%3c/path%3e%3cpath d='M365.44 495.5 L304.58 508.16999999999996L304.34018626372034 471.16518626372033z' fill='rgba(238%2c 240%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M335.32 429.33a5.6 5.6 0 1 0 9.41-6.08 5.6 5.6 0 1 0-9.41 6.08zM348.76 420.65a5.6 5.6 0 1 0 9.41-6.07 5.6 5.6 0 1 0-9.41 6.07zM362.21 411.98a5.6 5.6 0 1 0 9.41-6.08 5.6 5.6 0 1 0-9.41 6.08zM375.65 403.3a5.6 5.6 0 1 0 9.41-6.08 5.6 5.6 0 1 0-9.41 6.08z' fill='rgba(229%2c 250%2c 245%2c 1)'%3e%3c/path%3e%3crect width='60' height='60' clip-path='url(%26quot%3b%23SvgjsClipPath1303%26quot%3b)' x='909.59' y='441.15' fill='url(%23SvgjsPattern1304)' transform='rotate(127.92%2c 939.59%2c 471.15)'%3e%3c/rect%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1292'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='13.26' height='13.26' patternUnits='userSpaceOnUse' id='SvgjsPattern1294'%3e%3cpath d='M6.63 1L6.63 12.26M1 6.63L12.26 6.63' stroke='rgba(229%2c 250%2c 245%2c 1)' fill='none' stroke-width='3.42'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1293'%3e%3ccircle r='33.15' cx='453.31' cy='397.93'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='8.28' height='8.28' patternUnits='userSpaceOnUse' id='SvgjsPattern1296'%3e%3cpath d='M4.14 1L4.14 7.279999999999999M1 4.14L7.279999999999999 4.14' stroke='rgba(255%2c 245%2c 224%2c 1)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1295'%3e%3ccircle r='62.1' cx='45.09' cy='88.66'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='13.94' height='13.94' patternUnits='userSpaceOnUse' id='SvgjsPattern1298'%3e%3cpath d='M0 13.94L6.97 0L13.94 13.94' stroke='rgba(250%2c 233%2c 229%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1297'%3e%3ccircle r='69.7' cx='944.76' cy='494.17'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1300'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(255%2c 245%2c 224%2c 1)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1299'%3e%3ccircle r='33' cx='461.76' cy='354.24'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1302'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(255%2c 245%2c 224%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1301'%3e%3ccircle r='93' cx='1107.51' cy='100.97'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1304'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(238%2c 240%2c 255%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1303'%3e%3ccircle r='15' cx='939.59' cy='471.15'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}
.pod-template .header {
  max-height: 600px;
  min-height: 500px;
  height: unset;
}
.left-header {
  display: flex;
  flex-direction: column;
}
.left-header h1 {
  font-size: 38px;
  color: var(--text130);
  letter-spacing: 0.3px;
  font-weight: 500;
  -webkit-font-smoothing: auto;
  margin: 0;
}
.left-header p {
  color: var(--subText);
  letter-spacing: 0.3px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  margin: 25px 0;
  max-width: 362px;
}
.left-header button {
  width: 200px;
  height: 55px;
  font-size: 16px;
  background: var(--primaryClr);
  color: var(--primaryBg);
  border: none;
  outline: none;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
}
.left-header-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.right-header {
  display: flex;
  /* flex: 1; */
  flex-direction: column;
}
.valign-wrapper {
  display: flex;
  align-items: center;
  gap: 50px;
}
.valign-wrapper a {
  width: 205px;
  height: 155px;
  background: var(--primaryBg);
  box-shadow: 3px 6px 24px var(--boxShadow);
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  /* margin-left: 50px; */
  opacity: 1;
  padding: 20px;
  text-decoration: none;
}
.valign-wrapper p {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: var(--text);
  margin-top: 20px;
}
.valign-wrapper img {
  /*margin-left: -7px;*/
}
.left-header span:before {
  content: "";
  font-size: 100%;
  /*animation-name: head;
  animation-duration: 10s;
  animation-iteration-count: infinite;*/
}
@keyframes head {
  10% {
    font-size: 100%;
    opacity: 1;
    content: "Containers";
  }
  20% {
    font-size: 100%;
    opacity: 0;
  }
  30% {
    font-size: 100%;
    opacity: 1;
    content: "AI";
  }
  40% {
    font-size: 100%;
    opacity: 0;
  }
  50% {
    font-size: 100%;
    opacity: 1;
    content: "Rendering";
  }
  60% {
    font-size: 100%;
    opacity: 0;
  }
  70% {
    font-size: 100%;
    opacity: 1;
    content: "Transcode";
  }
  80% {
    font-size: 100%;
    opacity: 0;
  }
  90% {
    font-size: 100%;
    opacity: 1;
    content: "Streaming";
  }
  100% {
    font-size: 100%;
    opacity: 0;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    flex-direction: column;
    gap: 20px;
    max-height: initial;
    margin-bottom: 150px;
    margin-top: 20px;
  }
  .left-header {
    margin-top: 30px;
  }
}
@media screen and (max-width: 900px) {
  .header:before {
    transform: scaleX(3);
    height: 850px;
  }
  .header {
    /*margin-top: 100px;*/
  }
  .left-header {
    /* align-items: center; */
  }
  .left-header button {
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .right-header .valign-wrapper a {
    width: 100%;
    height: auto;
    box-shadow: 2px 4px 17px var(--boxShadow);
    border-radius: 15px;
    margin-left: 20px;
    padding: 30px;
  }
  .right-header .valign-wrapper img {
    width: 32px;
    height: 32px;
  }
  .right-header .valign-wrapper p {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--text);
    margin-top: 18px;
  }
  /* .left-header {
    flex: 0;
  } */
}



.big-card {
    width: 100%; /* Adjust to your desired width */
    height: 655px; /* Adjust to your desired height */
    border-radius: 10px;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
@media screen and (max-width: 900px) {
  .big-card {
      height: 515px; /* Adjust to your desired height */
  }
}

.card-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f1f1f1;
    padding-top: 3px;
}

.card-tabs {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background: #1e5799;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2989d8, #1e5799);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2989d8, #1e5799); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.tablink {
    color: white;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    border: none;
    outline: none;
    transition: background-color 0.3s;
    background: transparent;
    border-radius: 5px;
}

.tablink:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.tablink.active {
    background-color: rgba(255, 255, 255, 0.2);
}


