@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");
:root {
  --primaryClr: #00d09c;
  --primaryClr60: #66e3c4;
  --primaryClr10: #e5faf5;
  --secondaryClr: #5367ff;
  --secondaryClr130: #98a4ff;
  --secondaryClr60: #98a4ff;
  --secondaryClr30: #eef0ff;
  --growwYellow: #ffb61b;
  --growwYellow10: #fff5e0;
  --growwYellow05: rgba(255, 182, 27, 0.05);
  --growwRed: #eb5b3c;
  --growwRed10: #fae9e5;
  --growwRed05: rgba(235, 91, 60, 0.05);
  --border: #ecedef;
  --iconLight: #b0b2ba;
  --iconMedium: #dddee1;
  --iconStrong: #ecedef;
  --boxShadow: rgba(0, 0, 0, 0.1);
  --text130: #44475b;
  --text: #44475b;
  --subText: #7c7e8c;
  --subText50: #b0b2ba;
  --subText70: #ecedef;
  --primaryBg: #fff;
  --secondaryBg: #fff;
  --tertiaryBg: #ecedef;
  --quaternaryBg: #f6f6f7;
  --preloaderBg: #f6f6f7;
  --rippleNormal: rgba(0, 0, 0, 0.1);
  --constantWhite: #fff;
  --constantSecondaryClr10: #f6f6f7;
  --cardBackground: #fff;

  --secondaryClr150: #1e2232;
  --constantGrowwYellow150: #d2ab66;
  --constantText: #44475b;
  --constantText120: #191c27;
  --constantSubText10: #636464;
  --constantTransparent: transparent;
  --constantHalfTransparent: rgba(0, 0, 0, 0.5);
  --constantSecondaryClr180: #2a2a2a;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
html {
  overflow-x: hidden !important;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Outfit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  position: relative;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.web-align {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .web-align {
    padding: 0 1rem;
  }
}
.Link-tag {
  width: unset !important;
  height: unset !important;
  background: unset !important;
  box-shadow: unset !important;
  border-radius: unset !important;
  margin: unset !important;
  padding: unset !important;
  text-decoration: none;
}

table {
  /* font-family: arial, sans-serif; */
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

tr th {
  /* background-color: #dddddd; */
  background: #f3f6f9;
}
tr:hover {
  background-color: #f0f1f1;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.arrowUpIcon {
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 40px;
  cursor: pointer;
  color: var(--primaryClr60);
}
