.dedicated_container {
  margin-top: 40px;
}
.dedicated_header {
  background-color: var(--secondaryClr30);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='250' preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1040%26quot%3b)' fill='none'%3e%3cpath d='M9.273860423125985 102.81270346312601L40.76102860004379 147.78103993294488 85.72936506986264 116.29387175602707 54.24219689294485 71.32553528620821z' fill='rgba(152%2c 164%2c 255%2c 0.3)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1382.039%2c155.935C1402.384%2c156.568%2c1422.864%2c149.522%2c1433.947%2c132.449C1446.031%2c113.834%2c1448.044%2c89.986%2c1437.544%2c70.434C1426.485%2c49.841%2c1405.412%2c35.486%2c1382.039%2c35.792C1359.125%2c36.092%2c1339.205%2c51.339%2c1328.991%2c71.853C1319.773%2c90.367%2c1324.405%2c111.891%2c1335.441%2c129.383C1345.665%2c145.588%2c1362.887%2c155.339%2c1382.039%2c155.935' fill='rgba(152%2c 164%2c 255%2c 0.3)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M705.045%2c342.994C732.398%2c342.852%2c760.772%2c335.749%2c775.306%2c312.577C790.657%2c288.103%2c790.985%2c255.674%2c774.844%2c231.714C760.148%2c209.899%2c731.298%2c206.651%2c705.045%2c208.282C682.101%2c209.707%2c661.746%2c220.542%2c648.805%2c239.542C633.653%2c261.789%2c620.652%2c289.666%2c633.508%2c313.314C646.724%2c337.624%2c677.375%2c343.138%2c705.045%2c342.994' fill='rgba(152%2c 164%2c 255%2c 0.3)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1208.349%2c134.966C1225.551%2c135.667%2c1243.396%2c128.857%2c1251.601%2c113.722C1259.523%2c99.109%2c1253.264%2c82.011%2c1244.821%2c67.693C1236.551%2c53.669%2c1224.63%2c40.431%2c1208.349%2c40.369C1191.988%2c40.307%2c1179.123%2c52.995%2c1171.394%2c67.415C1164.133%2c80.962%2c1163.421%2c96.946%2c1170.798%2c110.43C1178.489%2c124.49%2c1192.336%2c134.314%2c1208.349%2c134.966' fill='rgba(152%2c 164%2c 255%2c 0.3)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1081.4188926941358-28.21607215526805L1019.3248114791974-27.132215936003295 1082.5027489134006 33.87800905967036z' fill='rgba(152%2c 164%2c 255%2c 0.3)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M171.79447316429335 141.19452158696163L164.92861656691775 190.0476297381597 213.78172471811587 196.9134863355353 220.64758131549144 148.0603781843372z' fill='rgba(152%2c 164%2c 255%2c 0.3)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1040'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right;
  height: 250px;
  margin-bottom: 40px;
}
.hardware .dedicated_header {
  background-color: var(--quaternaryBg);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='250' preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1010%26quot%3b)' fill='none'%3e%3cpath d='M235.09737230851866 159.62753994619644L264.15545038662185 195.51127793921955 303.4520183371049 133.9822918255532z' fill='rgba(68%2c 71%2c 91%2c 0.3)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M129.723%2c106.174C143.895%2c106.574%2c159.845%2c107.353%2c168.018%2c95.768C177.173%2c82.79%2c177.587%2c64.286%2c168.422%2c51.316C160.194%2c39.673%2c143.933%2c40.416%2c129.723%2c41.575C118.015%2c42.53%2c107.117%2c47.071%2c100.604%2c56.847C93.219%2c67.933%2c88.221%2c82.239%2c94.993%2c93.71C101.695%2c105.063%2c116.545%2c105.803%2c129.723%2c106.174' fill='rgba(68%2c 71%2c 91%2c 0.3)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1307.889%2c93.556C1319.475%2c93.741%2c1328.45%2c84.07%2c1333.479%2c73.631C1337.86%2c64.538%2c1335.667%2c54.46%2c1331.05%2c45.485C1325.875%2c35.425%2c1319.165%2c24.804%2c1307.889%2c23.89C1295.344%2c22.873%2c1282.74%2c29.834%2c1277.16%2c41.115C1272.031%2c51.485%2c1277.831%2c62.852%2c1283.68%2c72.834C1289.436%2c82.657%2c1296.505%2c93.374%2c1307.889%2c93.556' fill='rgba(68%2c 71%2c 91%2c 0.3)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M455.83197239310147 103.94108099812603L466.81210353411603 42.01482953661452 414.8297236310209 59.91379834176395z' fill='rgba(68%2c 71%2c 91%2c 0.3)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M668.439%2c187.19C677.519%2c186.849%2c685.852%2c181.79%2c690.003%2c173.707C693.843%2c166.229%2c691.797%2c157.472%2c687.369%2c150.327C683.209%2c143.615%2c676.331%2c139.184%2c668.439%2c138.914C660.026%2c138.626%2c651.819%2c141.964%2c647.121%2c148.949C641.8%2c156.861%2c639.231%2c167.111%2c643.874%2c175.439C648.611%2c183.937%2c658.717%2c187.555%2c668.439%2c187.19' fill='rgba(68%2c 71%2c 91%2c 0.3)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M927.7053401299045 44.23412054389071L932.2372473813275-20.575172565083562 867.4279542723533-25.107079816506626 862.8960470209302 39.702213292467654z' fill='rgba(68%2c 71%2c 91%2c 0.3)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1010'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
.dedicated_header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
}
.dedicated_header h1 {
  color: var(--text);
}
.dedicated_header img {
  object-fit: contain;
  width: 280px;
}
.dedicated_pricing_desktop {
  margin-top: 40px;
}
.dedicated_title {
  text-align: center;
  margin-bottom: 20px;
}
.dedicated_pricing_mobile {
  display: none;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  gap: 20px;
  place-items: center;
}
.dedicated_pricing_card {
  border: 1px solid var(--border);
  border-top: 4px solid var(--secondaryClr60);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--text);
  background-color: var(--secondaryClr30);
  box-shadow: rgba(152, 164, 255, 20%) 0px 0px 5px 0px,
    rgba(152, 164, 255, 20%) 0px 0px 1px 0px;
}
.hardware .dedicated_pricing_card {
  background-color: var(--quaternaryBg);
  border-top-color: var(--constantText);
}
.pricing_title {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 5px;
}
.pricing_title img {
  width: 32px;
}
.pricing_title h3 {
  text-align: center;
  color: var(--secondaryClr);
}
.hardware .pricing_title h3 {
  color: var(--constantText);
}
.pricing_specs {
  color: var(--text);
  font-size: 14px;
  line-height: 1.7;
}
.pricing_specs span {
  font-weight: 500;
}
.pricing_price {
  padding: 10px 0;
}
.pricing_price p {
  font-size: 18px;
}
.pricing_price span {
  font-weight: 500;
  color: var(--text130);
}
.pricing_price p:last-child {
  font-size: 12px;
}
.horizontal_line {
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(176, 178, 186, 0.2),
    rgba(176, 178, 186, 0.5),
    rgba(176, 178, 186, 0.2)
  );
}
.pricing_buy {
  text-align: center;
  padding: 10px 0;
}
.pricing_buy button {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  font-weight: 500;
  background-color: var(--secondaryClr);
  color: white;
  border: none;
}
.hardware .pricing_buy button {
  background-color: var(--constantText);
}
.pricing_buy button:hover {
  background-color: var(--secondaryClr);
  color: white;
  cursor: pointer;
}
.hardware .pricing_buy button:hover {
  background-color: var(--constantText120);
}
.pricing_buy p {
  font-size: 14px;
  color: var(--text130);
  text-decoration: underline;
  margin-top: 5px;
  cursor: pointer;
}
.dedicated_pricing_table th {
  background: none;
  border: none;
  padding-bottom: 10px;
}
.dedicated_pricing_table td {
  border: none;
  border-top: 1px solid #dddd;
  text-align: center;
  color: var(--text);
}

.dedicated_pricing_table tr:hover {
  background-color: var(--secondaryClr30);
}
.hardware .dedicated_pricing_table tr:hover {
  background-color: var(--quaternaryBg);
}
.dedicated_pricing_table thead tr:hover {
  background: none;
}
.hardware .dedicated_pricing_table thead tr:hover {
  background: none;
}
.dedicated_pricing_table tbody tr:first-child td {
  border-color: var(--text);
}
.dedicated_pricing_table td:first-child {
  text-align: left;
  font-weight: 500;
}

.next_section td {
  border-color: var(--text);
}

/* media query */

@media screen and (max-width: 900px) {
  .dedicated_pricing_mobile {
    display: grid;
  }
  .dedicated_pricing_mobile .dedicated_pricing_card {
    width: 325px;
  }
  .dedicated_pricing_desktop {
    display: none;
  }
  .dedicated_header img {
    display: none;
  }
}
